@use 'libs/vars' as *;
@use 'libs/functions' as *;
@use 'libs/mixins' as *;
@use 'libs/breakpoints' as *;
@use 'libs/vendor' as *;
@use 'libs/html-grid' as *;
//@use 'fontawesome-all.min.css';

@forward 'libs/vars';
@forward 'libs/functions';
@forward 'libs/mixins';
@forward 'libs/breakpoints';
@forward 'libs/vendor';
@forward 'libs/html-grid';


// Base.

@use 'base/reset';
@use 'base/page';
@use 'base/typography';

// Component.

@use 'components/row';
@use 'components/section';
@use 'components/form';
@use 'components/box';
@use 'components/icon';
@use 'components/image';
@use 'components/list';
@use 'components/actions';
@use 'components/icons';
@use 'components/pagination';
@use 'components/table';
@use 'components/button';
@use 'components/tiles';
@use 'components/contact-method';
@use 'components/spotlights';

// Layout.

@use 'layout/header';
@use 'layout/banner';
@use 'layout/main';
@use 'layout/contact';
@use 'layout/footer';
@use 'layout/wrapper';
@use 'layout/menu';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic');

/*
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

// Breakpoints.

	@include breakpoints((
		xlarge:    (1281px,   1680px   ),
		large:     (981px,    1280px   ),
		medium:    (737px,    980px    ),
		small:     (481px,    736px    ),
		xsmall:    (361px,    480px    ),
		xxsmall:   (null,     360px    )
	));

// Mixins.

	@mixin inner {
		> .inner {
			@include padding(4em, 0);
			margin: 0 auto;
			max-width: _size(inner);
			width: calc(100% - 6em);

			@include breakpoint('<=small') {
				@include padding(3em, 0);
				width: calc(100% - 3em);
			}
		}
	}

